<nav class="navbar">
  <h2>Trash Can</h2>
</nav>

<div *ngIf="notes; else notesError">
<ul class= "note-container">
  <mat-card class="note-card" *ngFor="let note of this.notes">
    <p> {{this.note.body}} </p>
    <mat-card-actions>
      <button mat-button class="note-action restore" matToolTip="Restore note" matToolTipPosition="right" (click)="this.restoreNote(note._id);">
        <mat-icon aria-label="Restore note">restore</mat-icon>
      </button>
      <button mat-button class="note-action delete" (click)="this.permanentlyDeleteNote(note._id);">
        <mat-icon aria-label="Delete note">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ul>
</div>

<ng-template #notesError>
  <div class="note-error">
    <mat-error>
      There was a problem loading the notes. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again.
    </mat-error>
  </div>
</ng-template>

<button mat-fab class="return-fab" matTooltip="Return to your DoorBoard" matTooltipPosition="right" [routerLink] = "''">
  <mat-icon class="md-24" aria-label="Return to your DoorBoard">keyboard_return</mat-icon>
</button>

