.add-note-card{
  margin-left: 10px;
  margin-right: 10px;
  background-color: palegoldenrod;
}

.add-note-header{
  padding-bottom: 10px;
}

#bodyField{
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}

.count{
  padding-left: 6px;
}

.mat-card-actions{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .add-note-card{
    background-color: #606f81;
  }

}
