.edit-note-card{
  margin-left: 10px;
  margin-right: 10px;
  background-color: palegoldenrod;
}

#bodyField{
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}

@media (prefers-color-scheme: dark) {
  .edit-note-card{
    background-color: #606f81;
  }

}
