<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="editNoteForm" (ngSubmit)="submitForm();">
      <mat-card class="edit-note-card">
        <mat-card-header>
          <mat-card-title class="edit-note-title">Edit Note</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <mat-label>Body</mat-label>
              <textarea id="bodyField" placeholder="Body" formControlName="body" row="5" [(ngModel)] = "body"
              required></textarea>
          </mat-form-field>
          <mat-error *ngFor="let validation of editNoteValidationMessages.body">
            <mat-error class="error-message" id="body-error"
                      *ngIf="editNoteForm.get('body').hasError(validation.type) && (editNoteForm.get('body').dirty || editNoteForm.get('body').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
          <label class="count"> Characters Remaining: {{body.length}}/300</label>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button id="confirmAddNoteButton" type="button" color="primary"
            [routerLink] = "''">
                    CANCEL
            </button>
          <button mat-button id="confirmEditNoteButton" type="button" color="primary"
                  [disabled]="!editNoteForm.valid" type="submit">
                  EDIT NOTE
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
