<nav class="navbar" *ngIf="owner">
  <h2>{{this.owner.name}}</h2>
</nav>

<div fxLayout="row" id="pdf-div">
  <button mat-button id="generate-pdf-button" type="button" color="primary" (click)="savePDF()">
    GENERATE PDF
  </button>
  <button mat-button class="logoutButton" type="button" color="primary" (click)="this.auth.logout()"> LOGOUT </button>
</div>



<div *ngIf="notes; else notesError">
<ul class= "note-container">
  <mat-card class="note-card" *ngFor="let note of notes">
    <p id="date"> {{this.note.timestamp | date:'short'}} </p>
    <p> {{this.note.body}} </p>
    <mat-card-actions>
      <button mat-button class="note-action edit" matTooltip="Edit Note" matTooltipPosition="above" [routerLink]="note._id + '/edit'">
        <mat-icon aria-label="Edit note">create</mat-icon>
      </button>
      <button mat-button class="note-action delete" matTooltip="Move to Trash" matTooltipPosition="above" (click)="deleteNote(note._id);">
        <mat-icon aria-label="Move to trash">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ul>
</div>

<ng-template #notesError>
  <div class="note-error">
    <mat-error>
      There was a problem loading the notes. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again.
    </mat-error>
  </div>
</ng-template>

<button mat-fab class="add-note-fab" matTooltip="Add Note" matTooltipPosition="left" [routerLink] = "'/new'">
  <mat-icon class="md-24" aria-label="Add Note">add</mat-icon>
</button>

<button mat-fab class="trash-fab" matTooltip="Trash Can" matTooltipPosition="right" [routerLink] = "'/trash'">
  <mat-icon class="md-24" aria-label="Trash can">delete</mat-icon>
</button>




