<nav class="navbar" *ngIf="owner">
  <h2>{{this.owner.name}}</h2>
</nav>

<div fxLayout="row" id="pdf-div">
  <button mat-button id="generate-pdf-button" type="button" color="primary" (click)="savePDF()">
    GENERATE QR CODE
  </button>
  <button mat-button class="logoutButton" type="button" color="primary" (click)="this.auth.logout()"> LOGOUT </button>
</div>



<div *ngIf="notes; else notesError">
<ul class= "note-container">
  <div *ngFor="let note of this.notes" >
    <mat-card class="pinned-note-card note-card" *ngIf="note.pinned">
      <p class="date"> {{this.note.timestamp | date:'short'}} </p>
      <p> {{this.note.body}} </p>
      <mat-card-actions>
        <button mat-button class="note-action edit" matTooltip="Edit Note" matTooltipPosition="above" [routerLink]="note._id + '/edit'">
          <mat-icon aria-label="Edit note">create</mat-icon>
        </button>
        <button mat-button class="note-action pin" matTooltip="Unpin Note" matTooltipPosition="above" (click)="unpinNote(note._id);">
          <mat-icon aria-label="Unpin note">star</mat-icon>
        </button>
        <button mat-button class="note-action delete" matTooltip="Move to Trash" matTooltipPosition="above" (click)="deleteNote(note._id);">
          <mat-icon class="delete-note-button" aria-label="Move to trash">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngFor="let note of this.notes" >
    <mat-card class="unpinned-note-card note-card" *ngIf="!note.pinned">
      <p class="date"> {{this.note.timestamp | date:'short'}} </p>
      <p> {{this.note.body}} </p>
      <mat-card-actions>
        <button mat-button class="note-action edit" matTooltip="Edit Note" matTooltipPosition="above" [routerLink]="note._id + '/edit'">
          <mat-icon aria-label="Edit note">create</mat-icon>
        </button>
        <button mat-button class="note-action pin" matTooltip="Pin Note" matTooltipPosition="above" (click)="pinNote(note._id);">
          <mat-icon aria-label="Pin note">star_border</mat-icon>
        </button>
        <button mat-button class="note-action delete" matTooltip="Move to Trash" matTooltipPosition="above" (click)="deleteNote(note._id);">
          <mat-icon class="delete-note-button" aria-label="Move to trash">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ul>
</div>

<ng-template #notesError>
  <div class="note-error">
    <mat-error>
      There was a problem loading the notes. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again.
    </mat-error>
  </div>
</ng-template>

<button mat-fab class="add-note-fab" matTooltip="Add Note" matTooltipPosition="left" [routerLink] = "'/new'">
  <mat-icon class="md-24" aria-label="Add Note">add</mat-icon>
</button>

<button mat-fab class="trash-fab" matTooltip="Trash Can" matTooltipPosition="right" [routerLink] = "'/trash'">
  <mat-icon class="md-24" aria-label="Trash can">delete</mat-icon>
</button>




