@import '../notes.scss';

/**
 * Modify the note card so it has a little action-bar at the bottom
 */
.note-card {
  display: flex;
  flex-direction: column;
}

.note-card p {
  flex-grow: 1;
}

.note-card mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-note-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

p {
  font-size: 15px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}
