.mat-toolbar.mat-primary {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #606f81;
}

.app-title {
  font-size: larger;
}

.sidenav-container {
  height: 100%;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  .sidenav-container{
    background-color: #74869e;
  }

  .mat-toolbar.mat-primary{
    background-color: #606f81;
  }

}







