/**
 * Common formatting for notes on the viewer page and the owner page.
 */

.note-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-card {
  width: 200px;
  margin: 10px;
  position: relative;
  background-color: palegoldenrod;
  word-wrap: break-word;
}

.note-error {
  text-align: center;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  .note-card{
    background-color: #606f81;

}
}
