/**
 * Common formatting for notes on the viewer page and the owner page.
 */

.note-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.unpinned-note-card {
  width: 225px;
  margin: 10px;
  position: relative;
  background-color: palegoldenrod;
  word-wrap: break-word;
}

.pinned-note-card{
  width: 225px;
  margin: 10px;
  position: relative;
  background-color: #606f81;
  color: white;
  word-wrap: break-word;
}

.note-error {
  text-align: center;
  padding: 10px;
}

.date{
  text-align: right;
  font-size: small;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .pinned-note-card{
    background-color: #4a5563;
  }
  .unpinned-note-card{
    background-color: #606f81;
  }
}
