<nav class="navbar" *ngIf="owner">
  <h2> {{this.owner.name}} </h2>
</nav>

<div *ngIf="notes; else notesError">
  <ul class= "note-container">
    <mat-card class="note-card" *ngFor="let note of this.notes">
      <p> {{this.note.body}} </p>
      <p> {{this.note.timestamp | date:'medium'}} </p>
    </mat-card>
  </ul>
</div>

<ng-template #notesError>
  <div class="note-error">
    <mat-error>
      There was a problem loading the notes. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again.
    </mat-error>
  </div>
</ng-template>
